.App {
  text-align: center;
  color: #EFD9D1;
  background-color: #999B84;
}

*{
  background-color: #999B84;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button{
  background-color: #EFD9D1;
  border: 1px solid #2C363F;
  border-radius: 5px;
  padding: 8px;
  font-size: 14px;
  cursor: pointer;
  color: #2C363F;
}